node_modules
uploads
.DS_Store


# package directories
jspm_packages

# Serverless directories
.serverless

# dotenv
.env.test
.env.production
.env.development

.vscode

yarn-error.log

build
coverage

last-run-cookies.json
